body {
margin: 0;
font-family: 'Arial', sans-serif;
}
/* ハンバーガーメニュー */
.navbar {
background-color: #333;
padding: 15px;
display: flex;
justify-content: space-between;
}
.hamburger-menu {
cursor: pointer;
display: none;
flex-direction: column;
}
.bar {
width: 25px;
height: 3px;
background-color: white;
margin: 6px 0;
}
.menu {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
}
.menu li {
margin-right: 20px;
}
.menu a {
text-decoration: none;
color: white;
font-weight: bold;
padding-left:8px;
}
@media (max-width: 768px) {
.hamburger-menu{
display: flex;
}
.menu {
display: none;
flex-direction: column;
position: relative; /* ここを修正 */
top: 10px;
left: 0;
width: 100%;
background-color: #333;
}
.menu.show {
display: flex;
}
}
/* ハンバーガーメニューここまで */
/* カルーセル画像 */
.custom-carousel-image {
width: 50%;
height: auto;
}
/* カルーセル画像ここまで */
.error-message-container{
margin-top:12px;
}
.error-message-container ul{
list-style:none;
}
.success-message-container,
.login-message-container{
text-align:center;
padding:4px;
border:solid 2px green;
background-color:lightgreen;
}
.header_container{
border-bottom:black 4px solid;
}
.navbar-nav{
margin-left:848px;
}
.nav-item{
margin-right:16px;
}
.top_container_area{
position:relative;
background-color:lightgreen;
margin:40px;
height:500px;
border-radius:12px;
}
.top_container_area h1{
position:absolute;
top:25%;
left:22%;
display:inline-block;
text-align:center;
background-color: white;
padding:80px;
border-radius:12px;
}
.top_container p{
text-align:center;
}
.form_top_container{
position:relative;
background-color: lightgreen;
margin:40px;
height:500px;
}
.form_top_container h1{
position:absolute;
top:25%;
left:16%;
display:inline-block;
text-align:center;
background-color:white;
padding:80px;
}
.form_top_container p{
position:absolute;
top:82%;
left:12%;
text-align:center;
font-weight:bold;
}
.form_group{
margin:40px 0 40px 0;
display: flex;
flex-direction: column;
text-align:left;
}
.form_control{
width:90%;
}
.login-top-container,
.register-top-container,
.contact-top-container,
.postedit-container,
.commentedit-container{
text-align:center;
}
.login-top-container h1,
.register-top-container h1,
.contact-top-container h1,
.postedit-container h1,
.commentedit-container h1{
background-color:lightgreen;
margin-top:12px;
}
.login-top-container p,
.register-top-container p,
.contact-top-container p,
.postedit-container p{
margin-top:12px;
font-weight:bold;
}
.exposition-container{
text-align:center;
}
.button_container{
text-align:center;
margin-bottom:12px;
}
.new-register-link{
margin-bottom:12px;
}
.login-user-name{
display:flex;
justify-content:flex-end;
margin:12px 12px 0 0;
}
.post-container{
text-align:center;
margin-bottom:12px;
}
.Individual-container h2{
text-align:center;
}
.index-post-container,
.show-post-container,
.show-comment-container,
.mycomment-container,
.mypost-container{
background-color:lightgray;
padding:12px;
border-radius:8px;
margin:12px;
}
.message-container{
background-color:lightgreen;
}
.search-container{
text-align:center;
margin-bottom:12px;
}
.mycomment-name-container h1,
.mypost-name-container h1{
text-align:center;
}
.title-container{
display:inline-block;
}
.body-container{
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
margin-top:12px;
}
.body-container img{
height:300px;
}
.button-comprehensive{
display:flex;
justify-content:center;
margin:12px;
}
.edit-button-container{
display:inline-block;
text-align:right;
margin-right:12px;
}
.return-back-container{
text-align:center
}
.back-button-container{
margin-bottom:8px;
display:inline-block
}
.comment-container{
margin-top:12px;
}
.badge {
display: inline-block;
color: #fff;
padding: 0.2rem 0.6rem;
margin-bottom:8px;
border-radius: 1rem;
font-size: 0.6rem;
text-align: center;
white-space: nowrap;
background-color: green;
}
/* footer */
.footer_container{
width:100%;
height:100px;
background-color:lightgray;
}
.footer_container p{
text-align:center;
padding-top:40px;
}
